/* 1. Selector de etiqueta - afecta a TODOS los elementos de ese tipo */

body{
    background-color: #8755f2;
}
h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;  
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: yellow;
}

/* 2. Selector de clase - afecta solo a elementos con class="destacado" */
.destacado {
    color: orange;
    font-weight: bold;
    background-color: #fff3e0;
    padding: 10px;
}

/* 3. Selector de ID - afecta solo al elemento con id="caja" */
#caja {
    background-color: #e0e0e0;
    border: 20px solid red;
    padding: 40px;
    margin-top: 2px;
    border-radius: 10px; 
}
/* Estilo para todos los elementos de la lista */
li {
    background-color: #f9f9f9;
    margin: 10px;      /* Separación entre cada elemento */
    padding: 15px;     /* Espacio interno alrededor del texto */
    border-left: 5px solid #3498db;
    list-style: none;  /* Quita los puntos de la lista */
}
/* Efecto al pasar el mouse sobre el botón */
button {
    background-color: #3498db;
    color: white;
    border: 20px ;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2980b9;
    transform: scale(5.05);  /* Agranda ligeramente */
}

/* Efecto en enlaces */
a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #c0392b;
}